html, body {
    background-image: url("../img/main-background.webp");
        margin: 0;
        padding: 0;
        box-sizing: border-box;
  }


/* Header Section Styles */
header {
  background-image: url(../img/header/header-final.webp);
  padding: 10px;
  text-align: center;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header .main-banner p {
  font-size: 24px;
  color: #000;
  margin-top: 10px;
}



  /* Historia Section Styles */
.historia-section {
    text-align: center;
    padding: 0 0;
    background-image: url('../img/inicio/fondo-harinacarrusel.webp');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .image-wrapper {
    display: flex;
    justify-content: center;
    gap: 0.25in; 
  }
  
  .image-item {
    position: relative;
    width: 390px;
    height: 590px;
    overflow: visible;
    transition: width 0.3s ease, z-index 0.3s ease;
    display: inline-block;
    margin: 0 4px;
    z-index: 1;
  }
  
  .image-item:hover {
    width: 780px;
    z-index: 2;
  }
  
  .image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: inherit;
    
  }
  
  #image1 img {
    border-radius: 20px 0 0 20px;
  }

  #image2 img {
    border-radius: 0;
  }

  #image3 img {
    border-radius: 0 20px 20px 0;
  }
  
  .container {
    max-width: none;
    overflow: hidden;
  }

  
  /* Historia image box Section Styles */
  .historia-section .overlay {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    padding: 20px;
  }
  .historia-section .overlay h2 {
    transition: opacity 0.3s ease;
    opacity: 1;
    font-size: 35px;
  }
  
  .historia-section .overlay p {
    display: none;
    transition: opacity 0.3s ease;
    opacity: 0; 
    text-align: justify;
    padding-right: 200px;
    font-size: 20px;
  }

  .historia-section .image-item:hover .overlay p {
    opacity: 1;
  }

  .historia-section .image-item {
    position: relative;
    overflow: hidden;
    transition: width 0.5s ease;
  
  }
  
  .historia-section .image-item:hover {
    width: 800px;

  }
  
  .historia-section .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease, bottom 0.5s ease, left 0.5s ease;
    width: 100%;

  }
  
  .historia-section .image-item:hover .overlay {
    transform: translate(-50%, -50%) translateY(50%);
    bottom: 0;
    left: 55%;
    text-align: left;
    justify-content: flex-start;
  }
  
  .historia-section .image-item:hover .overlay-description {
    opacity: 1;
  }

  .image-item:hover .overlay p {
    display: block;
    opacity: 1;
    top: 50%;
}